@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Let Tailwind control colors */
body {
  @apply bg-gray-50 text-gray-900;
}
